{#
 This file is part of the Coupon plugin

 Copyright(c) EC-CUBE CO.,LTD. All Rights Reserved.
 http://www.ec-cube.co.jp/

 For the full copyright and license information, please view the LICENSE
 file that was distributed with this source code.
#}
{% extends '@admin/default_frame.twig' %}

{% set menus = ['order', 'plugin_customer_coupon'] %}

{% block title %}{{ 'plugin_customer_coupon.admin.regist.title'|trans }}{% endblock %}
{% block sub_title %}{{ 'plugin_customer_coupon.admin.regist.subtitle'|trans }}{% endblock %}

{% form_theme form '@admin/Form/bootstrap_4_horizontal_layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-datetimepicker.min.css', 'admin') }}">
    <style type="text/css">
        .col-sm-2 {
            width: auto;
        }
    </style>
{% endblock stylesheet %}

{% block javascript %}
    <script src="{{ asset('assets/js/vendor/moment.min.js', 'admin') }}"></script>
    <script src="{{ asset('assets/js/vendor/moment-ja.js', 'admin') }}"></script>
    <script src="{{ asset('assets/js/vendor/bootstrap-datetimepicker.min.js', 'admin') }}"></script>
    <script>
        $(function() {

            // 項目数が多く、入力している項目によってEnter押下時に期待する動作が変わるので、いったん禁止
            $("input").on("keydown", function(e) {
                if ((e.which && e.which === 13) || (e.keyCode && e.keyCode === 13)) {
                    return false;
                } else {
                    return true;
                }
            });

            // ==========================
            // 初期処理
            // ==========================
            var inputDate = document.createElement('input');
            inputDate.setAttribute('type', 'date');
            if (inputDate.type !== 'date') {
                $('input[id$=_date]').datetimepicker({
                    locale: 'ja',
                    format: 'YYYY-MM-DD',
                    useCurrent: false,
                    showTodayButton: true
                });
            }
        });
    </script>
{% endblock javascript %}

{% block main %}
    <form role="form" name="form1" id="form1" method="post" action="">
        <input type="hidden" name="mode" value="">
        {{ form_widget(form._token) }}
        <div class="c-contentsArea__cols">
            <div class="c-contentsArea__primaryCol">
                <div class="c-primaryCol">
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header">
                            <span>{{ 'plugin_customer_coupon.admin.regist.header'|trans }}</span>
                        </div><!-- /.box-header -->
                        <div class="card-body">
                            {# クーポンコード #}
                            <div class="row">
                                <div class="col-3">{{ form_label(form.coupon_cd) }}<span class="badge bg-primary ms-1">{{ 'admin.common.required'|trans }}</span></div>
                                <div class="col mb-2">
                                    {{ form_widget(form.coupon_cd) }}
                                    {{ form_errors(form.coupon_cd) }}
                                </div>
                            </div>

                            {# クーポン名 #}
                            <div class="row">
                                <div class="col-3">
                                    {{ form_label(form.coupon_name) }}<span class="badge bg-primary ms-1">{{ 'admin.common.required'|trans }}</span></div>
                                <div class="col mb-2">
                                    {{ form_widget(form.coupon_name) }}
                                    {{ form_errors(form.coupon_name) }}
                                </div>
                            </div>
                            {# 下限金額 #}
                            <div class="row">
                                <div class="col-3">{{ form_label(form.coupon_lower_limit) }}<span class="badge bg-primary ms-1">{{ 'admin.common.required'|trans }}</span></div>
                                <div class="col mb-2">
                                    {{ form_widget(form.coupon_lower_limit) }}
                                    {{ form_errors(form.coupon_lower_limit) }}
                                    <span id="coupon_lower_limit_description" class="small">{{ 'plugin_customer_coupon.admin.regist.coupon_lower_limit.note'|trans }}</span>
                                </div>
                            </div>
                            {# 値引き率 #}
                            <div class="row">
                                <div class="col-3">{{ form_label(form.discount_rate) }}<span class="badge bg-primary ms-1">{{ 'admin.common.required'|trans }}</span></div>
                                <div class="col mb-2">
                                    {{ form_widget(form.discount_rate) }}
                                    {{ form_errors(form.discount_rate) }}
                                    <span id="discount_type_rate_description" class="small">{{ 'plugin_customer_coupon.admin.regist.discount_rate.note'|trans }}</span>
                                </div>
                            </div>
                            {# 使用回数 #}
                            <div class="row">
                                <div class="col-3">{{ form_label(form.coupon_release) }}<span class="badge bg-primary ms-1">{{ 'admin.common.required'|trans }}</span></div>
                                <div class="col mb-2">
                                    {{ form_widget(form.coupon_release) }}
                                    {{ form_errors(form.coupon_release) }}
                                </div>
                                {{ form_widget(form.coupon_use_time) }}
                                <input type="hidden" name="coupon_release_old" value="{{ form.vars.value.coupon_release }}">
                            </div>
                        </div><!-- /.card-body -->
                    </div><!-- /.card -->
                </div><!-- /.c-primaryCol -->
            </div><!-- /.c-contentsArea__primaryCol -->

            {#
            // ===================================
            // 操作部
            // ===================================
            #}
            <div class="c-conversionArea">
                <div class="c-conversionArea__container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-6">
                            <div class="c-conversionArea__leftBlockItem">
                                <a class="c-baseLink" href="{{ url('plugin_customer_coupon_list') }}">
                                    <i class="fa fa-backward" aria-hidden="true"></i><span>{{ 'common.back'|trans }}</span></a>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row align-items-center justify-content-end">
                                <div class="col-auto">
                                    <button type="submit" class="btn btn-ec-conversion">{{ 'common.registration'|trans }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div><!-- /.c-contentsArea__cols -->
    </form>
{% endblock %}
